<h1>Комментарии</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Комментарий</th>
      <th>Вуз</th>
      <th>latitude</th>
      <th>longitude</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.high_school_id %></td>
        <td><%= comment.latitude %></td>
        <td><%= comment.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>
