<h1>Перечень вузов</h1>

<ul>
  <% @high_schools.each do |high_school| %>
    <li>
      <%= link_to high_school.name, edit_high_school_path(high_school) %>
      <%= link_to 'X', high_school, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </li>
  <% end %>
</ul>

<br>

<%= link_to 'Добавить ВУЗ', new_high_school_path, class: 'btn btn-primary' %>
