<div class="navbar navbar-static-top">
  <div class="navbar-inner container">
    <ul class="nav pull-right" id="loginbar">
      <% if user_signed_in? %>
        <li class='nav_item'><%= link_to "Заведения", places_path %></li>
        <li class='nav_item'><%= link_to "Категории", categories_path %></li>
        <li class='nav_item'><%= link_to "Выйти", destroy_user_session_path %></li>
      <% else %>
        <li class='nav_item'><%= link_to "Войти", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>